APP_ENV=development
OCR_PROVIDER=mock
MAX_UPLOAD_MB=10
ENABLE_DOCS=true
GOOGLE_APPLICATION_CREDENTIALS=/caminho/fora/do/repositorio/service-account.json
MOCK_OCR_TEXT=GELADINHO GOURMET DE MORANGO\nR$ 8,99 R$ 6,99\nA PARTIR DE 3 UN.
