.idea/
.venv/
venv/
__pycache__/
*.py[cod]

feedbacks/*.json
dataset/*.json
dataset/ocr/
dataset/resultados/
public/ultimoreconhecimento.json
grafico_aprendizado.png

*.log
*.tmp
.DS_Store

ocr-*.json
*service-account*.json
